{% extends "mytask/layout.html" %}

{% block body %}
    <div>
        <table class="box">
            <tr>
                <th>Tasks</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{task}}</td> 
                    <td><a href="{% url 'update' task.id %}">Update</a></td>
                    <td><a href="{% url 'delete' task.id %}">Delete</a></td> 
                </tr>
            {% endfor %}
        
        </table>

    </div>

    <button class="button"><a href="{% url 'add' %}">Add Task</a></button>
{% endblock %}
